<div class="row">
  <div class="col-md-3">

  </div>
  <div class="col-md-6">

      <% @posts.order("created_at DESC").each do |post| %>
      <ul class="list-group">
      <li class="list-group-item">
        <%= link_to post.user.name, user_path(post.user_id) %>
      </li>
      <li class="list-group-item">
        <% if post.body.length < 500 %>
        <%= post.body %>
        <%= link_to "(Read more)", post_path(post) %>
        <% else %>
        <%= post.body[0..500] %>...
        <%= link_to "(Read more)", post_path(post) %>
        <% end %>
      </li>
      </ul>
      <% end %>

  </div>
  <div class="col-md-3">
  </div>
</div>
