<div class="row">
  <div class="col-md-12 text-center">

    <h1><%= @post.title %></h1>
  </div>
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <ul class="list-group">

      <li class="list-group-item"><%= @post.body %></li>
      <li class="list-group-item">
        By
        <%= @post.user.name %>
        <%= time_ago_in_words(@post.created_at)%>
        ago.
        <% if @post.user == current_user %>
        <%= link_to "Edit", edit_post_path(@post), class: "btn btn-primary" %>
        <% end %>

      </li>
      <li class="list-group-item">
        <%= link_to "Like", like_path, method: :get, remote: true, class: "btn btn-primary like-button" %>
      </li>
    </ul>
    <ul class="list-group">

      <%= render 'comments/form', locals: {comments: @comment}%>
      <%= render @post.comments %>
    </ul>
</ul>
</div>
<div class="col-md-3">
</div>
</div>
<script type="text/javascript">
$(".like").on("ajax:complete", function(element, data, status){
  console.log("test");
  $(".like").hide();
});
</script>
